icomoon-font-path ?= "fonts"

icon-paypal = "\e900"
icon-search = "\f002"
icon-twitter = "\f099"
icon-facebook = "\f09a"
icon-facebook-f = "\f09a"
icon-angle-left = "\f104"
icon-angle-right = "\f105"
icon-youtube = "\f167"
icon-close = "\e5cd"
icon-arrow-right2 = "\e906"
icon-envelope2 = "\e907"

