section.about#about
	.container
		.row.flex-column.flex-md-row.justify-content-center
			.col-12.col-md-6.col-lg-4
				.about__box(style={background: 'url(images/stories.jpg) center no-repeat'})
					p.about__title STORIES
					a.about__link(href="#" style={background: 'rgba(73,153,175,0.8)'}) Read stories of Seven Oaks
						.about__arrow
							i.icon-arrow-right2
			.col-12.col-md-6.col-lg-4
				.about__box(style={background: 'url(images/give.jpg) center no-repeat'})
					p.about__title GIVE ONLINE
					a.about__link(href="#" style={background: 'rgba(119,140,75,0.8)'}) Quick & easy online giving
						.about__arrow
							i.icon-arrow-right2
			.col-12.col-md-6.col-lg-4
				.about__box(style={background: 'url(images/pray.jpg) center no-repeat'})
					p.about__title PRAYER
					a.about__link(href="#" style={background: 'rgba(235,132,117,0.8)'}) Submit your prayer request
						.about__arrow
							i.icon-arrow-right2
		.row.flex-column.flex-md-row
			.col-12.col-md-6
				h3 UPCOMING EVENTS
				.about__events
					h3
					.about__event
						.about__info
							.about__date 
								span.about__number 20
								span.about__month july
							.about__desc
								p FAMILY SUNDAY
								span #[span.about__day Sunday] | 9:30am
						a.button.about__button more
					.about__event
						.about__info
							.about__date 
								span.about__number 20
								span.about__month july
							.about__desc
								p FAMILY SUNDAY
								span #[span.about__day Sunday] | 9:30am
						a.button.about__button more
					.about__event
						.about__info
							.about__date 
								span.about__number 20
								span.about__month july
							.about__desc
								p FAMILY SUNDAY
								span #[span.about__day Sunday] | 9:30am
						a.button.about__button more
			.col-12.col-md-6
				h3 SEVENOAKS
				p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				p.about__description It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				a(href="#").about__more_button READ MORE >>