section.home#home
	ul.home__slider
		li.home__item
			.home__description
				.home__welcome
					p #[span Welcome to SevenOaks website] which is run by the friends of SevenOaks.
		li.home__item
			.home__description
				.home__welcome
					p #[span Welcome to SevenOaks website] which is run by the friends of SevenOaks.
		li.home__item
			.home__description
				.home__welcome
					p #[span Welcome to SevenOaks website] which is run by the friends of SevenOaks.
	include ../header/header
