.header
	.header__wrap
		.header__company
			img.header__logo(src='images/logo.png' alt='Logo')
			.header__name
				p Seven#[span Oaks]
				span.header__location CENTRE
		.header__menu
			.header__help
				ul.header__helpList
					li.header__helpItem
						a(href="#") Calendar
					li.header__helpItem
						a(href="#") Blog
					li.header__helpItem
						a(href="#") Contact us
				.header__search
					input.header__input(type='text')
					i.icon-search.header__icon
			nav.header__nav
				ul.header__list
					li.header__item
						a.header__link(href="#") about
					li.header__item
						a.header__link(href="#") media
					li.header__item
						a.header__link(href="#") events
					li.header__item
						a.header__link(href="#") shop
					li.header__item
						a.header__link(href="#") give
						