@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext,latin-ext')

@import 'icomoon/style'
@import 'icomoon/variables' 

@font-face
   font-family icomoon
   font-style normal
   src url(../fonts/icomoon/icomoon.ttf)
   
@font-face
   font-family icomoon
   font-style normal
   src url(../fonts/icomoon/icomoon.woff)
   
@font-face
   font-family icomoon
   font-style normal
   src url(../fonts/icomoon/icomoon.eot)
   
@font-face
   font-family icomoon
   font-style normal
   src url(../fonts/icomoon/icomoon.svg)
   
@font-face
   font-family MyriadPro
   font-style normal
   src url(../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf)

@font-face
   font-family MyriadPro
   font-style normal
   src url(../fonts/MyriadPro-Regular/MyriadPro-Regular.eot)
   
@font-face
   font-family MyriadPro
   font-style normal
   src url(../fonts/MyriadPro-Regular/MyriadPro-Regular.svg)
   
@font-face
   font-family MyriadPro
   font-style normal
   src url(../fonts/MyriadPro-Regular/MyriadPro-Regular.woff)

@font-face
   font-family MyriadPro
   font-style italic
   src url(../fonts/MyriadPro-It/MyriadPro-It.ttf)
   
@font-face
   font-family MyriadPro
   font-style italic
   src url(../fonts/MyriadPro-It/MyriadPro-It.eot)
   
@font-face
   font-family MyriadPro
   font-style italic
   src url(../fonts/MyriadPro-It/MyriadPro-It.svg)
   
@font-face
   font-family MyriadPro
   font-style italic
   src url(../fonts/MyriadPro-It/MyriadPro-It.woff)

@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Regular/ProximaNova-Regular.eot)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Regular/ProximaNova-Regular.svg)
  
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Regular/ProximaNova-Regular.woff)

@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.svg)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Bold/ProximaNova-Bold.otf)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Bold/ProximaNova-Bold.eot)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Bold/ProximaNova-Bold.svg)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Bold/ProximaNova-Bold.woff)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Light/ProximaNova-Light.ttf)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Light/ProximaNova-Light.eot)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Light/ProximaNova-Light.svg)
   
@font-face
   font-family ProximaNova
   font-style normal
   src url(../fonts/ProximaNova-Light/ProximaNova-Light.woff)