footer.footer#footer
	.container
		.row
			.col-12.col-md-6.col-lg-4
				h3.footer__title SIGNUP TO OUR NEWSLETTER
				button.footer__button.button Subscribe
			.col-12.col-md-6.col-lg-4
				h3.footer__title SERVICE TIMES
				p.footer__workTime Sundays at 9:30 & 11:30 AM
				span.footer__info Lorem ipsum dolor sit amet.
			.col-12.col-md-6.col-lg-4
				h3.footer__title CONNECT WITH US
				ul.footer__socials
					li.footer__item
						a.footer__link(href="#")
							i.icon-facebook
					li.footer__item
						a.footer__link(href="#")
							i.icon-twitter
					li.footer__item
						a.footer__link(href="#")
							i.icon-youtube
					li.footer__item
						a.footer__link(href="#")
							i.icon-paypal
					li.footer__item
						a.footer__link(href="#")
							i.icon-envelope2
		.row
			.col-12
				.footer__rights
					p © Copyright 2017 SevenOaks. All rights reserved.  Privacy Policy  |  Share This
					