doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(content='' name='description')
    meta(content='' name='keywords')
    link(rel='stylesheet' href='./css/style.css')
    script(defer src='./js/bundle.js')
    title Test site

  body.page
    include components/home/home
    include components/about/about
    include components/footer/footer
    include components/modal/modal

